django==5.1.4
django-allauth>=65.3
psycopg2-binary>=2.9
python-dotenv>=1.0
requests>=2.32
debugpy>=1.8
djangorestframework>=3.15.2
django-cors-headers>=4.6.0
PyJWT>=2.0.0
cryptography>=36.0.0
pylint==3.3.9
pylint-django==2.6.1
flake8==7.3.0
autoflake==2.3.1
autopep8==2.3.2
isort==6.1.0
